<div class="page-about">
  <div class="box-about">
      <h1 class="title-about">3 Reasons To Purchase</h1>
    <div class="about-contentgrid">
        <div class=-aboutbox box1">
          <h1 class="style-title title1">Ut sed metus</h1>
          <p class="styleabout-par par1">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class=-aboutbox box1">
          <h1 class="style-title title2">Curabitur ac erat</h1>
          <p class="styleabout-par par2">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class=-aboutbox box1">
          <h1 class="style-title title3">Morbi dictum</h1>
          <p class="styleabout-par par3">Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
    <button class="about-btn">
        <h1 class="stylebtn-more">More reasons</h1>
    </button>
  </div>
</div>