<header class="page-header">
  <div class="btn-menu">
    <nav>
      <a href="#" class="btn-style">
        <img src="assets/images/ico-menu.svg" alt="imagen-boton">
      </a>
    </nav>
  </div>
  <section class="hero">
    <div class="box-contentflex">
      <div class="box-content">
        <h1 class="content-title">ANONYMOUS PROXY</h1>
        <p class="content-text">In hac habitasse platea dictumst.</p>
          <div class="box-contentflex2">
          <a href="index.html#ancla" class="ico-down">
          <img src="assets/images/ico-scroll-down.svg" alt="imagen-boton" class="ico-down-style">
          </a>
          </div>
      </div>
    </div>
  </section>
</header>