<section class="page-main">
  <div class="box-main">
    <div class="text-ancla">
      <a href="ancla" title="ancla" class="ancla">Insomnia Tips</a>
    </div>
    <div class="main-style-tittle">
      <h1 class="style.h1main">Looking Through A Window</h1>
    </div>
    <div class="main-style-par">
      <p class="stylepar">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    </div>
    <div class="main-btn-go">
      <h1 class="go-style">GO</h1>
    </div>
  </div>
</section>