.page-footer{
  background-color:$color-dark-grey-blue ;
  text-align: center;
  position: relative;
  height: 128px;
}
// box boton
.box-footer-arrow{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50vw;
}
.ico-arrow{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $color-white;
}
// box contenido
.box-footer-content{
  margin:0 ;
  text-align: center;
}
.footer-copy{
  text-align: center;
  list-style: none;
  margin:0;
}
.stylecopy{
  margin:0;
  background-color: $color-dark-grey-blue;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: $color-white;
}
// estilo copy
.foot1{
  padding: 15px 0 0 0;
}
// estilo we components
.foot2{
  padding: 0 0 30px 0;
}
.style-heart{
    color: #f26002;
}