.box-footer{
  width: 320px;
  height: 128px;
  background-color:$color-dark-grey-blue ;
  text-align: center;
  position: relative;
}
// estilo boton
.ico-arrow{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: -20px;
  left: 140px;
}
// lista footer

.footer-copy{
  padding: 0 15px;
  margin:0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
}
.stylecopy{
  margin:0;
  background-color: $color-dark-grey-blue;
}
// estilo copy
.foot1{
  width: 77px;
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: $color-white;
}
// estilo we components
.foot2{
  width: 290px;
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: $color-white;
}
.style-heart{
    color: #f26002;
}