// header
.header{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.btn-menu{
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index:2;
}
.btn-style{
  width: 16px;
  height: 14px;
}

// hero

.hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.box-contentflex{
  padding: 284px 15px 174px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-contentflex2{
  display: flex;
  justify-content: center;
}
// estilo tittulo
.content-title {
  margin:0;
  width: 290px;
  height: 110px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: RobotoSlab;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: $color-white;
}

// estilo texto 
.content-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: regular;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-white;
  padding: 10px 0 76px;
}
// estilo boton
.ico-down{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-white;
  text-align: center;
  display: flex;
  justify-content: center;
}

// media queries hero
@media all and (min-width:768px){
  .box-contentflex{
    padding: 284px 15px 174px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-title {
    margin:0;
    width: 690px;
    height: 212px;
    font-size: 80px;
    line-height: 1.33;
  }
  }
