.header{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.btn-menu{
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}
.btn-style{
  width: 16px;
  height: 14px;
  object-fit: contain;
}
