.page-main{
  margin:0;
  padding: 0;
  background-color: $color-white;
  
}
.box-main{
display: flex;
flex-direction:column;
}
.text-ancla{
  padding: 30px 15px 0 15px;
}
// estilo h1
.main-style-tittle{
  margin:0;
  padding: 0 15px 0;
}

.style.h1main{
  width: 290px;
  height: 60px;
  font-family: 'RobotoSlab';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $color-black;
}
// estilo parrafo
.main-style-par{
  margin:0 15px 30px ;
}
.stylepar{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: $color-greyish-brown;
}
// estilo boton
.main-btn-go{
  margin: 0 15px 45px;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  &:hover{
    background-color: pink;
    transition: background-color ease .2s;
  }
}
.go-style{
  margin: auto;
  width: 25px;
  height: 45px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: #f26002;
}
// mediaqueries 768
@media all and (min-width:768px){
  .box-main{
  width: 768px;
  height: 330px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  }
  .style.h1main{
  width: 690px;
  height: 45px;
  font-size: 26px;
  line-height: 1.73;
  }
.main-style-par{
  padding: 30px 0 0;
  width: 690px;
  height: 60px;
  }
.stylepar{
  padding: 0 40px 0 0;
  font-size: 20px;
  line-height: 1.5;
  }
  .main-btn-go{
  width: 91px;
  height: 45px;
  border-radius: 22.5px;
  }
  .go-style{
  text-align: center;
  }
}
// mediaqueries 1280
@media all and (min-width:1280px){
  .box-main{
  width: 768px;
  height: 330px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  }
.style.h1main{
  width: 730px;
  height: 45px;
  font-size: 32px;
  line-height: 1.41;
  }
  .main-btn-go{
  margin: 0 0 45px;
  width: 160px;
  height: 45px;
  border-radius: 22.5px;
  }
  .go-style{
  text-align: center;
  }
}